@font-face {
	font-family: 'meetup';
	src:url('fonts/meetup.eot?-w0maj3');
	src:url('fonts/meetup.eot?#iefix-w0maj3') format('embedded-opentype'),
		url('fonts/meetup.woff?-w0maj3') format('woff'),
		url('fonts/meetup.ttf?-w0maj3') format('truetype'),
		url('fonts/meetup.svg?-w0maj3#meetup') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mi-"], [class*=" mi-"] {
	font-family: 'meetup';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mi-calendar:before {
	content: "\e613";
}
.mi-code:before {
	content: "\e620";
}
.mi-list-unordered:before {
	content: "\e662";
}
.mi-location:before {
	content: "\e663";
}
.mi-milestone:before {
	content: "\e66d";
}
.mi-podium:before {
	content: "\e683";
}
